 <div
  class="flex md:flex-row md:items-center justify-around mt-24 md:mt-32 container border-primary-100 border-b-4 min-w-full">

  <div class="text-left flex flex-col md:text-left  mt-5">    
  </div>

  <!-- buttons -->  
</div>
