<%= render 'users/users/welcome'%>
<div class="h-screen flex overflow-hidden">
  <%= render 'users/users/sidebar' %>
  <div class="flex mx-auto">
 <%= render 'admins/recipes/form', recipe: @recipe%>
  </div>
 

</div>