<div class="container mx-auto">

  <!--Lead+main img-->
  <div class="top-page flex flex-row items-center justify-around md:mt-28">

    <div class="animate__animated animate__fadeInLeft left-top w-96 flex-wrap text-center md:text-left">
      <p class="text-2xl md:text-3xl lg:text-5xl tracking-wide	 text-warning font-bold mb-5">Ton menu en un clic...
      </p>
      <p class="text-lg md:text-xl lg:text-2xl text-gray-700 font-semibold mb-5">Parle-nous de toi et on s’occupe de
        tout !</p>
      <% if current_user %>      
      <%= button_to "C'est parti !", current_user, method: :get, class: "submit submit-sm"%>
      <% else %>      
       <%= button_to "C'est parti !", new_user_registration_path, method: :get, class: "submit submit-sm -mt-4"%>
      <% end %>
    </div>

    <div class="animate__animated animate__fadeInRight right-page">
      <%= image_tag 'chef.svg', class: "chief lg:mt-24"%>
    </div>

  </div>

  <h1 data-aos="fade-up"
    class="text-xl lg:text-2xl text-gray-700 font-semibold mb-5 text-center my-12 md:my-20">Bien manger n'a
    jamais été aussi facile !</h1>

  <!--Timeline-->
  <div data-aos="fade-up" class=" my-10 md:my-14 lg:my-24 ">
    <div class="flex justify-center">
      <%= image_tag 'timeline-web.svg', class: "tlweb flex"%>
    </div>
  </div>

  <!--presentation start-->
  <div class="presentation px-2 py-12 text-gray-700 body-font">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 sm:flex-row flex-col">
      <div
        class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-teal-100 text-teal-500 flex-shrink-0">
        <i class="fas fa-heartbeat fa-3x" style="color:red;"></i>
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Prends-soin de ta santé</h2>
        <p class="leading-relaxed text-base">Mange mieux en laissant nos algorithmes choisir tes repas en fonction de
          tes informations.
        </p>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Plus simple</h2>
        <p class="leading-relaxed text-base">Gagne du temps en planifiant tes menus sur une durée que tu choisis.</p>
      </div>
      <div
        class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-teal-100 text-teal-500 flex-shrink-0">
        <i class="fas fa-user-clock fa-3x" style="color:green;"></i>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
      <div
        class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-teal-100 text-teal-500 flex-shrink-0">
        <i class="fas fa-carrot fa-3x" style="color:orange;"></i>
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Différents régimes</h2>
        <p class="leading-relaxed text-base text-gray-500">Différents régimes alimentaires sont disponibles en fonction de tes
          objectifs.</p>
      </div>
    </div>

  </div>

  <!--faq start-->


  <div data-aos="fade-up">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
      <div class="lg:grid lg:grid-cols-3 lg:gap-8">
        <div>
          <h2 class="text-3xl font-bold text-gray-700">
            Questions fréquentes
          </h2>
          <p class="mt-4 text-lg text-gray-500">Parce que t'hésites encore ? </p>
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Contacte-nous !</a>
        </div>
        <div class="mt-12 lg:mt-0 lg:col-span-2">
          <dl class="space-y-12">
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">
                Comment ça marche ?
              </dt>
              <dd class="mt-2 text-base text-gray-500">
                Nos supers algorithmes de la mort qui tue &copy; sont capables d'extraire les informations nutritionnelles de recettes et de te concocter
                un programme de repas adapté à tes besoins.
              </dd>
            </div>

            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">
                Est-ce gratuit ?
              </dt>
              <dd class="mt-2 text-base text-gray-500">
                Oui !
              </dd>
            </div>

            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">
                Comment sont calculées mes journées ?
              </dt>
              <dd class="mt-2 text-base text-gray-500">
                Nous utilisons des formules issues de la recherche pour tous nos algorithmes, nous avons simplement
                besoin de connaître, en plus de tes objectifs, ton âge, ton poids et ta taille !
              </dd>
            </div>

            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">
                Est-ce que je peux ajouter ma recette ?
              </dt>
              <dd class="mt-2 text-base text-gray-500">
                Nous travaillons très dur pour incorporer cette possibilité dans un futur proche ! </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>






















</div>
</div>