@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$color1: #6dd5be;
$color2: #31ab90;


// Tailwind components
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;  
  overflow-x: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
}

*:focus {
  outline: none;
}

.nav-links {
  position: relative;
  z-index: 1;
  top: 0;
  padding-bottom: 1.5rem;
}

.hamburger {
  fill: $color1;
}

.hamburger:hover,
.hamburger:active {
  fill: $color2;
  outline-color: $color2;
}

#nav-toggle {
  outline-color: #afe8db;
}

#nav-toggle:focus,
#nav-toggle:active {
  outline-color: #afe8db;
}


@layer components {
}
// Tailwind components end

// Recipe page

// Recipe page end

// Media queries
@media (min-width: 640px) {
  .nav-links:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    /* or 100px */
    border-bottom: 8px solid $color1;
  }
}

// Media queries end

// Miscellaneous
.highlight {
  font-size: 30px;
  background-image: linear-gradient(to right, transparent 50%, $color1 50%);
  background-origin: 0;
  background-size: 201% 28%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.1s;
}

.highlight:hover {
  background-position: -100% 100%;
}

.bg-warning {
  background-color: #de734e;
}
// // Miscellaneous end

// Modal days generation
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}

#btn-modal {
  outline: none !important;
}
// Modal days generation end

// Forms

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 35px;
}

.input {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: inset 0px 0px 0px 0px transparent;
}

.input:focus {
  box-shadow: inset 0px 0px 0px 2px $color1;
}

.cut {
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.cut-large {
  width: 100px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #9ca3af;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #9ca3af;
}

.input:focus ~ .placeholder {
  color: $color2;
}

.submit {
  background-color: $color1;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: inset 0px 0px 0px 0px transparent;
}

.submit-warning {
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: inset 0px 0px 0px 0px transparent;
}

.submit:active {
  background-color: $color2;
}

.submit:hover {
  background-color: $color1;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.submit:focus {
  background-color: $color2;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.submit-warning:active {
  background-color: #d97706;
}
.submit-warning:hover {
  box-shadow: inset 0px 0px 0px 2px #ffffff;
  background-color: #f59e0b;
}

.submit-warning:focus {
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}
.nice-btns:active {
  background-color: #d97706;
}

.nice-btns:active {
  background-color: $color2;
}

.nice-btns:hover {
  background-color: $color1;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.nice-btns:focus {
  background-color: $color2;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.days-list:hover {
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.days-list:focus {
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.nice-btns:active {
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

::-webkit-input-placeholder {
  /* Edge */
  color: lightgray;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightgray;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.box-shadow-custom {
  box-shadow: inset 0px 0px 0px 2px #f3f4f6;
}

::placeholder {
  color: #31ab90;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

input:focus::-webkit-input-placeholder {
  /* Edge */
  opacity: 1;
}

input:focus:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 1;
}

input:focus::placeholder {
  opacity: 1;
}


// radio buttons
