@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
// Tailwind components
@layer components {
    html,
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    footer {
        @apply flex text-sm px-5 items-center justify-evenly h-24 w-full bg-primary-500
    }
    .nav-links {
        position: relative;
        z-index: 1;
        top: 0;
        padding-bottom: 1.5rem;
    }
    .hamburger {
        fill: #6dd5be;
    }
    .hamburger:hover,
    .hamburger:active {
        fill: #31ab90;
        outline-color: #31ab90;
    }
    #nav-toggle {
        outline-color: #afe8db;
    }
    #nav-toggle:focus,
    #nav-toggle:active {
        outline-color: #afe8db;
    }
}
// Tailwind components end

// Media queries 
@media (min-width: 640px) {
    .nav-links:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        /* or 100px */
        border-bottom: 8px solid #6dd5be;
    }
}
// Media queries end 


// Miscellaneous
.highlight {
    font-size: 30px;
    background-image: linear-gradient(to right, transparent 50%, #6DD5BE 50%);
    background-origin: 0;
    background-size: 201% 28%;
    background-repeat: repeat-x;
    background-position: 0 100%;
    transition: background-position 0.1s;
}

.highlight:hover {
    background-position: -100% 100%;
}

.bg-warning {
  background-color: #DE734E;
}
// // Miscellaneous end


// Modal days generation 
input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }

  .custom-number-input button:focus {
    outline: none !important;
  }

  #btn-modal {
      outline: none !important;
  }
// Modal days generation end 