// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;    /* #body margin-bottom */        
}

.chief {
  height: 560px;
  width:468;
}
