<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous te contactons pour te notifier que ton mail est entrain d'être changé en:<%= @resource.unconfirmed_email %>.</p>
 <% else %>
  <p>Nous te contactons pour te notifier que ton mail a été changé en:  <%= @resource.email %>.</p>
<% end %>
