<p>Bonjour <%= @resource.email %>!</p>

<p>Voici un lien pour réinitialiser ton mot de passe:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'as pas demandé la réinitialisation du mot de passe, ignores ce mail.</p>
<p>Votre mot de passe ne changera pas tant que vous n'aurez pas accédé au lien ci-dessus et créé un nouveau.</p>