<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué en raison d'un nombre excessif de tentatives de connexion infructueuses.</p>
<p>Clique sur le lien ci-dessous pour débloquer ton compte.</p>

<p><%= link_to 'Débloqué mon compte', unlock_url(@resource, unlock_token: @token) %></p>
