<footer class="footer md:text-base md:justify-between md:h-20">

  <p></p>
  <p class="ml-48 text-gray-700">Made with <span style="color:red"><i class="fas fa-heart"></i></span> by les Perruches</p>

  <p class="text-gray-700">Mealories © 2020</p>

</footer>