<footer class="footer md:text-base md:justify-between md:h-20 py-8">

  <p></p>
  <p class="ml-48">Made with <span style="color:red"><i class="fas fa-heart"></i></span> by les Perruches</p>

  <p>Mealories © 2020</p>

</footer>